{
    "cid": "CID71",
    "password": "cbridgest00f@r",
    "user": "bridges@continuumbridge.com",
    "from": "Bridges <bridges@continuumbridge.com>",
    "bridges":
    [
        {"bid": "BID27",
         "friendly_name": "Pete's Test Bridge",
         "email": "peter.claydon@continuumbridge.com"
        }
    ]
}
