{
    "cid": "CID71",
    "password": "cbridgest00f@r",
    "user": "bridges@continuumbridge.com",
    "from": "Bridges <bridges@continuumbridge.com>",
    "ignore_time": 900,
    "bridges":
    [
        {"bid": "BID27",
         "friendly_name": "Pete's Test Bridge",
         "email": "peter.claydon@continuumbridge.com"
        },
        {"bid": "BID12",
         "friendly_name": "The Bradbury Bridge",
         "email": "carson.bradbury@continuumbridge.com, peter.claydon@continuumbridge.com"
        },
        {"bid": "BID11",
         "friendly_name": "Martin's Bridge",
         "email": "martin.sotheran@continuumbridge.com, peter.claydon@continuumbridge.com"
        }
    ]
}
